*.aps
*.obj
*.iobj
*.ipdb
*.pdb
*.exp
*.lib
*.res
*.idb
*.res
*.db
*.opendb
*.suo
*.ipch
*.cache
*.log
*.mez
*.xml
/vcpkg/
# Visual Studio 
.vs/*
src/.vs/*
# Visual Studio Code
.vscode/*
LICENSE.txt
/performance/**/CMakeFiles/
/performance/**/Makefile
/performance/**/*.so
/performance/**/performance_results
/performance/**/performance_execution
/performance/**/googletest/
/performance/**/*.a
/performance/**/*.vcxproj*
/performance/**/*.dll
/performance/**/*.stamp*
/performance/**/*.pdb
/performance/**/*.lib
/performance/**/CMakeCache
/performance/**/*.un
/performance/**/*.sln
/performance/**/*.exe
/performance/build/
/performance/lib/
/performance/bin/
**/performance_results_report.csv
*.filters
*.vcxproj
*.sln
cmake_install.cmake
CMakeCache.txt
/build/
/cmake-build32/
/cmake-build64/
/src/PowerBIConnector/AmazonTimestreamConnector/bin/Debug/
/src/PowerBIConnector/AmazonTimestreamConnector/obj/
/src/PowerBIConnector/AmazonTimestreamConnector/.vs/
/src/PowerBIConnector/AmazonTimestreamAADConnector/bin/Debug/
/src/PowerBIConnector/AmazonTimestreamAADConnector/obj/
/src/PowerBIConnector/AmazonTimestreamAADConnector/.vs/
src/aws-sdk-cpp/
src/tests/input/credentials
scripts/postinst_unix32.sh
scripts/postinst_unix64.sh
